.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.db
.venv
env
venv
.env
.dockerignore
Dockerfile
docker-compose.yml
Makefile
README.md
screenshots
scripts
terraform
tests
b6b6bc88-cf9a-4bbc-b71a-62f55f8c883b.pdf
